swagger: "2.0"
info:
  version: 1.0.0
  title: Onshape API
  description: Onshape API
  termsOfService: https://www.onshape.com/legal/terms-of-use
  contact:
    name: Onshape API Team
    email: ekeller@onshape.com
    url: https://cad.onshape.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
consumes:
  - application/json
produces:
  - application/json
host: cad.onshape.com
basePath: /api
security:
  - apiAccessKey: []
    apiSecretKey: []
paths:
definitions:
  Parts_getPartsInPartstudio_Response200:
    items:
      type: object
      description: Individual part
      properties:
        bodyType:
          type: string
          description: Part body type; can be 'solid', 'surface', or 'wire'
        name:
          type: string
          description: Part name
        partId:
          type: string
          description: Part ID
        partQuery:
          type: string
          description: Onshape internal use
        material:
          type: object
          description: Part material, if assigned
          properties:
            libraryName:
              type: string
              description: Name of the material library
            id:
              type: string
              description: Id of the material
            properties:
              items:
                type: object
                properties:
                  units:
                    type: string
                    description: Units of the material property value
                  name:
                    type: string
                    description: Material property name
                  value:
                    type: number
                    description: Material property value
                  description:
                    type: string
                    description: Material property description
              type: array
              description: Properties of the material
        appearance:
          type: object
          description: Part appearance
          properties:
            opacity:
              type: number
              description: Part opacity
            isGenerated:
              type: boolean
              description: "Whether the appearance was set by the user or\n  \
                \          generated by Onshape"
            color:
              type: object
              description: Part color
              properties:
                blue:
                  type: number
                  description: Blue RGB value
                green:
                  type: number
                  description: Green RGB value
                red:
                  type: number
                  description: Red RGB value
        microversionId:
          type: string
          description: Document microversion ID
        customProperties:
          type: object
          description: Custom properties, if any
        isMesh:
          type: boolean
          description: Whether the part is a mesh
        isHidden:
          type: boolean
          description: Part visibility
        elementId:
          type: string
          description: Element ID
    type: array
    description: Parts list
securityDefinitions:
  apiAccessKey:
    type: apiKey
    description: The HMAC-256 pattern used to verify Onshape requests.
    in: header
    name: ACCESS_KEY
  apiSecretKey:
    type: apiKey
    in: header
    name: SECRET_KEY
  OAuth2:
    type: oauth2
    flow: accessCode
    authorizationUrl: https://oauth.onshape.com/oauth/authorize
    tokenUrl: https://oauth.onshape.com/oauth/token
    scopes:
      OAuth2Purchase: Grants purchasing access
      OAuth2Write: Grants write access
      OAuth2Read: Grants read access
      OAuth2Delete: Grants delete access.
      OAuth2Share: Grants sharing access.
