swagger: "2.0"
info:
  version: 1.0.0
  title: Onshape API
  description: Onshape API
  termsOfService: https://www.onshape.com/legal/terms-of-use
  contact:
    name: Onshape API Team
    email: ekeller@onshape.com
    url: https://cad.onshape.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
consumes:
  - application/json
produces:
  - application/json
host: cad.onshape.com
basePath: /api
security:
  - apiAccessKey: []
    apiSecretKey: []
paths:
  /parts/d/{did}/{wvm_char}/{wvm}:
    get:
      responses:
        '200':
          description: OK
          schema:
            type: array
            description: Parts list
            items:
              $ref: '#/definitions/Part'
      description: Get list of parts
      parameters:
      - description: One of w or v or m corresponding to whether a workspace or version
          or microversion was entered.
        required: true
        type: string
        name: wvm_char
        in: path
      - description: Document ID
        required: true
        type: string
        name: did
        in: path
      - description: Workspace (w), Version (v) or Microversion (m) ID
        required: true
        type: string
        name: wvm
        in: path
      - description: "Whether or not to include thumbnails (not supported for\n  \
          \        microversion)"
        required: false
        type: boolean
        name: withThumbnails
        in: query
      - description: "Id of document that links to the document being accessed.\n\
          \    This may provide additional access rights to the document. Allowed\
          \ only with version (v) path parameter."
        required: false
        type: string
        name: linkDocumentId
        in: query
      - description: "If true, include metadata schema property\n      defaults in\
          \ response"
        required: false
        type: boolean
        name: includePropertyDefaults
        in: query
      tags:
      - Parts
      summary: Get Parts
      security:
      - OAuth2:
        - OAuth2Read
      - apiSecretKey: []
      - apiAccessKey: []
      operationId: getParts.Parts
  #  The top level was changed to an array rather than a dict. This relates to BEL-105804
  /parts/d/{did}/{wvm_char}/{wvm}/e/{eid}:
    get:
      responses:
        '200':
          description: OK
          schema:
            type: array
            description: Parts list
            items:
              $ref: '#/definitions/Part'
      description: "Get list of parts in a part studio. An error is returned if the\
        \ specified element is not a part\n                studio. Surface, wire,\
        \ and mesh parts are not returned for a version but are included for a\n \
        \               workspace or microversion."
      parameters:
      - description: One of w or v or m corresponding to whether a workspace or version
          or microversion was entered.
        required: true
        type: string
        name: wvm_char
        in: path
      - description: Document ID
        required: true
        type: string
        name: did
        in: path
      - description: Workspace (w), Version (v) or Microversion (m) ID
        required: true
        type: string
        name: wvm
        in: path
      - description: Part studio element ID
        required: true
        type: string
        name: eid
        in: path
      - description: "Whether or not to include thumbnails (not supported for\n  \
          \        microversion)"
        required: false
        type: boolean
        name: withThumbnails
        in: query
      - description: "Id of document that links to the document being accessed.\n\
          \    This may provide additional access rights to the document. Allowed\
          \ only with version (v) path parameter."
        required: false
        type: string
        name: linkDocumentId
        in: query
      - description: "If true, include metadata schema property\n      defaults in\
          \ response"
        required: false
        type: boolean
        name: includePropertyDefaults
        in: query
      tags:
      - Parts
      summary: Get Parts In Part Studio
      security:
      - OAuth2:
        - OAuth2Read
      - apiSecretKey: []
      - apiAccessKey: []
      operationId: getPartsInPartstudio.Parts
definitions:
  body:
    type: object
    description: Mass properties of the part named in the key
    properties:
      massMissingCount:
        type: number
        description: Number of parts without mass
      volume:
        items:
          type: number
        type: array
        description: Volume in cubic meters, along with minimum and maximum
      centroid:
        items:
          type: number
        type: array
        description: "Coordinates of the centroid (center of mass) in metric\n\
          \            units (3 numbers), along with minimum (3 numbers) and\
          \ maximum (3 numbers)"
      periphery:
        items:
          type: number
        type: array
        description: "Periphery in metric units which depend on context, along\n\
          \            with minimum and maximum; for a solid part, the periphery\
          \ is the surface area in square meters; for a\n            surface,\
          \ the periphery is the perimeter in meters"
      principalInertia:
        items:
          type: number
        type: array
        description: "Moment of inertia around the principal axes in\n   \
          \         metric units (3 numbers)"
      mass:
        items:
          type: number
        type: array
        description: Mass in kilograms, along with minimum and maximum
      principalAxes:
        items:
          type: object
          description: One of the principal axes
          properties:
            y:
              type: number
              description: y coordinate of principal axis
            x:
              type: number
              description: x coordinate of principal axis
            z:
              type: number
              description: z coordinate of principal axis
        type: array
        description: Principal axes as unit vectors
      inertia:
        items:
          type: number
        type: array
        description: "Moment of inertia tensor about the centroid in metric\
          \ units\n            with respect to the coordinate axes (9 numbers),\
          \ along with minimum (9 numbers) and maximum (9\n            numbers)"
      hasMass:
        type: boolean
        description: Whether part has mass
  Part:
    type: object
    description: Individual part
    properties:
      bodyType:
        type: string
        description: Part body type; can be 'solid', 'surface', or 'wire'
      name:
        type: string
        description: Part name
      partId:
        type: string
        description: Part ID
      partQuery:
        type: string
        description: Onshape internal use
      material:
        type: object
        description: Part material, if assigned
        properties:
          libraryName:
            type: string
            description: Name of the material library
          id:
            type: string
            description: Id of the material
          properties:
            items:
              type: object
              properties:
                units:
                  type: string
                  description: Units of the material property value
                name:
                  type: string
                  description: Material property name
                value:
                  type: number
                  description: Material property value
                description:
                  type: string
                  description: Material property description
            type: array
            description: Properties of the material
      appearance:
        type: object
        description: Part appearance
        properties:
          opacity:
            type: number
            description: Part opacity
          isGenerated:
            type: boolean
            description: "Whether the appearance was set by the user or\n      \
              \      generated by Onshape"
          color:
            type: object
            description: Part color
            properties:
              blue:
                type: number
                description: Blue RGB value
              green:
                type: number
                description: Green RGB value
              red:
                type: number
                description: Red RGB value
      microversionId:
        type: string
        description: Document microversion ID
      customProperties:
        type: object
        description: Custom properties, if any
      isMesh:
        type: boolean
        description: Whether the part is a mesh
      isHidden:
        type: boolean
        description: Part visibility
      elementId:
        type: string
        description: Element ID
  Parts_getMassProperties_Response200:
    type: object
    properties:
      microversionId:
        type: string
        description: Current microversion
      bodies:
        description: "Object containing parts with mass properties, with the keys\
                                 \ being the part\n            ID or \"-all-\" for a set of parts considered\
                                 \ together"
        type: object
        additionalProperties:
          $ref: '#/definitions/body'
  PartStudios_getMassProperties_Response200:
    type: object
    properties:
      microversionId:
        type: string
        description: Current microversion
      bodies:
        type: object
        description: "Object containing parts with mass properties, with the keys\
            \ being the part\n            ID or \"-all-\" for a set of parts considered\
            \ together"
        additionalProperties:
          $ref: '#/definitions/body'
securityDefinitions:
  apiAccessKey:
    type: apiKey
    description: The HMAC-256 pattern used to verify Onshape requests.
    in: header
    name: ACCESS_KEY
  apiSecretKey:
    type: apiKey
    in: header
    name: SECRET_KEY
  OAuth2:
    type: oauth2
    flow: accessCode
    authorizationUrl: https://oauth.onshape.com/oauth/authorize
    tokenUrl: https://oauth.onshape.com/oauth/token
    scopes:
      OAuth2Purchase: Grants purchasing access
      OAuth2Write: Grants write access
      OAuth2Read: Grants read access
      OAuth2Delete: Grants delete access.
      OAuth2Share: Grants sharing access.
